body {
    font-family: 'BIZ UDPMincho', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
header {
    background-color: #39D7FE;
    color: #000;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    max-width: 350px;
    padding: 1rem;
    margin: auto;
}
main {
    max-width: 350px;
    padding: 1rem;
    margin: auto;
}
main ul {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 1rem;
    list-style: none;
    text-align: center;
}
footer {
    background-color: #39D7FE;
    color: #000;
    border-radius: 10px;
    max-width: 350px;
    padding: 1rem;
    margin: auto;
    text-align: center;
}
#portal-last-modified {
    color: #000;
}