header {
    background-color: #39D7FE;
    color: #000;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    max-width: 350px;
    padding: 20px;
    margin: auto;
}
main {
    max-width: 350px;
    padding: 20px;
    margin: auto;
}
main ul {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 20px;
}
footer {
    background-color: #39D7FE;
    color: #000;
    border-radius: 10px;
    max-width: 350px;
    padding: 20px;
    margin: auto;
    text-align: center;
}
#portal-last-modified {
    color: #000;
}