body {
    font-family: 'Poppins', 'sans-serif';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
    color: #2B4570;
}
header {
    background-color: #97EFE9;
    padding-bottom: 1rem;
}
.title {
    display: flex;
    flex-wrap: wrap;
}
header picture {
    margin: .2rem 2vw;
}
header section {
    margin: .2rem 2vw;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    background-color: #7180AC;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0,0,0,0.3);
    transition: 250ms;
}
nav ul li:nth-of-type(5) {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
.active {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
nav button {
    margin: 0 2vw;
}
#hamburger span:nth-child(1) { display: block; }
#hamburger span:nth-child(2) { display: none; }
#hamburger.open span:nth-child(1) { display: none; }
#hamburger.open span:nth-child(2) { display: block; }
#date {
    padding: 1rem 2vw;
    margin: 0 2vw;
    margin-top: 1rem;
    text-align: center;
    background-color: #DDFFFD;
}
.social {
    list-style: none;
    display: flex;
    padding: 0;
    padding-right: 2vw;
}
.social img {
    width: 64px;
    padding: .5rem;
}
.social-links {
    margin-left: auto;
}
.social-links ul li a img{
    transition: 250ms;
}
.social-links ul li a img:hover {
    background-color: rgba(0,0,0,0.5);
}
main section {
    background-color: #DDFFFD;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 1rem;
    text-align: center;
    box-shadow: 0 0 10px 0.1rem #7180AC;
}
main section h2 {
    padding: .2rem 2vw;
}
main {
    padding-bottom: 2rem;
}
main p {
    padding: .2rem 2vw;
}
main a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}
main a:hover, form input.submitBtn:hover {
    background-color: rgba(0,0,0,0.2);
    color: #000;
}
.spotlights {
    border: 1px solid rgba(0,0,0,0.2);
    margin: 1rem;
    background-color: rgba(221, 255, 253);
    box-shadow: 0 0 10px 0.1rem #7180AC;
}
.spotlights section {
    margin: 1rem;
}
.spotlights section img {
    width: 80%;
    max-width: 383px;
    padding: .2rem 2vw;
}
.spotlights a {
    font-size: 1em;
}
.spotlights section p:nth-of-type(1) {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    font-style: italic;
    font-size: 1.2em;
}
.spot3, .join {
    display: none;
}
.weather {
    overflow: auto;
    font-size: 1.5em;
}
#weather-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#weather-flex p {
    font-weight: bold;
}
#wind {
    text-align: left;
    border-top: 1px solid rgba(0,0,0,0.3);
}
#wind span {
    text-align: right;
}
.weather img {
    width: 40%;
    max-width: 200px;
}
.join-button {
    padding: 1rem 3rem;
    background-color: #148a02;
    color: #fff;
    border-radius: 1rem;
}
.hero {
    background-image: url("../images/southampton.webp");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* For srcset
.hero img {
    width: 100%;
} */
.hero a {
    position: relative;
    padding: 2rem 6rem;
    margin: 2rem 30%;
    min-width: 100px;
}
.hero a:hover {
    background-color: #fff;
    color: #000;
}
.hero h2 {
    background-color: rgba(255,255,255,0.7);
    border-radius: 1rem;
    margin: 1rem 20%;
}
.join p:nth-of-type(2) {
    padding: 1rem 0;
}
footer {
    background-color: #97EFE9;
    text-align: center;
}
em {
    font-size: 1.5em;
    line-height: 3em;
}
footer a {
    text-decoration: none;
}
.info {
    margin-top: -2rem;
    line-height: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-style: italic;
    list-style: none;
    padding: 0;
}
.copyright {
    line-height: 1.5em;
    list-style: none;
    padding: 0;
}
#banner {
    text-align: center;
    display: none;
    background-color: #7180AC;
    padding: .2rem 2vw;
}
#gallery figure img {
    filter: blur(0em);
    transition: .5s;
    width: 90%;
    padding: 0.5em;
    margin-top: 3rem;
    background-color: #7180AC;
    border-radius: .75em;
}
#gallery figure img[data-src] {
    filter: blur(0.2em);
}
figcaption {
    font-size: 1em;
    font-style: italic;
    color: #2B4570;
    margin: 1rem 2rem 3rem 2rem;
}
#days-since {
    font-size: 2em;
    margin: 0;
}
#statistics ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
}
/*---Form---*/
form fieldset {
    margin: 1rem 0;
    background-color: #DDFFFD;
    border: none;
    box-shadow: 0 0 10px 0.1rem #7180AC;
}
form .membershipLevels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form legend {
    padding: .5rem;
    color: #2B4570;
    padding-top: 3rem;
}
form label.top, form label.sbs {
    display: block;
    font-size: .8rem;
    padding: .75rem;
}
form label.top input, form label.top textarea {
    display: block;
    padding: .75rem;
    width: 90%;
    max-width: 20rem;
    background-color: #ebfcfb;
    border: 1px solid #000;
}
form input.submitBtn {
    margin: 1rem 0 2rem 2%;
    border: none;
    border-radius: 1rem;
    background-color: #148a02;
    color: #fff;
    padding: 1rem 2rem;
}
form label.sbs input {
    margin-left: .2rem;
}
form label.top input:required {
    border: solid 2px red;
}
form label.top input:required:valid {
    border: solid 2px green;
}
form p#requiredFields {
    padding: .75rem;
    border: none;
}
main p#thanks {
    text-align: center;
}