@media only screen and (min-width: 80em) {
    nav ul#main-nav {
        display: flex;
        margin: 0 2vw;
    }
    #hamburger {
        display: none;
    }
    nav ul li a:nth-last-of-type(1) {
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    nav ul li:nth-of-type(5) {
        border-bottom: none;
    }
    nav ul li a {
        padding: 0.5rem 2vw;
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    main#home {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .spot3 {
        display: block;
    }
    .event {
        grid-area: 1 / 1;
    }
    .hero {
        grid-area: 1 / 2 / 3 / 4;
    }
    .hero h2 {
        margin-top: 5rem;
    }
    .spotlights {
        grid-area: 1 / 4 / 4 / 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .spotlights section {
        width: unset;
    }
    .weather {
        grid-area: 2 / 1 / 3 / 2;
    }
    .join {
        grid-area: 3 / 1 / 4 / 2;
    }
    .hero a {
        padding: 1rem 3rem;
        margin-bottom: 5rem;
    }
    .news {
        grid-area: 3 / 2 / 4 / 4;
    }
    .sub-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modified {
        padding-left: 1rem;
    }
    figcaption {
        font-size: 2em;
    }
    #gallery figure {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #gallery figure:nth-child(odd) {
        flex-direction: row-reverse;
    }
    #gallery figure img {
        width: 50%;
    }
    main#joinForm {
        max-width: 80rem;
        margin: auto;
    }
    form label.sbs, form p {
        padding: .4rem;
        display: inline;
    }
    form div#formGrid {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
    form #radio label {
        display: block;
    }
    /*---Directory---*/
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .directory section {
        width: 90%;
        margin: 1rem auto;
    }
    .list section {
        padding: 1rem;
        grid-template-columns: 15% repeat(4, 1fr);
    }
    /*---Contact---*/
    #contact-main form {
        margin-left: 10rem;
    }
    #contact-main section {
        margin-right: 10rem;
    }
}